@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section{
    padding: 60px 0;
}

body, html {
    background-color: #1d3770
}

a {
    text-decoration: none;
    color: white;
}

.lh-5 {
    line-height: 4rem;
}
.font-large {
    font-size: 4rem
}

.logo {
    display: block;
    max-width: 100%;
    height: auto;
}